In [35]:
import numpy as np
import pandas as pd
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/binjie/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [36]:
path = '/Users/binjie/techfield/Wrangled_Data_File - Sheet1.csv'
data = pd.read_csv(path, index_col=False)

In [37]:
data.set_index('number', inplace=True)

In [38]:
data

,string,urgency,goodbad,Unnamed: 4
number,,,,
1,*screams in 25 different languages*,0.5,0.20,NaN
2,Families to sue over Legionnaires: More than 4...,0.6,0.30,NaN
3,Pandemonium In Aba As Woman Delivers Baby With...,0.1,0.20,NaN
4,My emotions are a train wreck. My body is a tr...,0.6,0.20,NaN
5,Alton brown just did a livestream and he burne...,0.5,0.60,NaN
...,...,...,...,...
198,@Babybackreeve FATALITY!!!!!!!!!!,0.5,0.50,NaN
199,Truck Driver Salvages Banned Tomatoes From Des...,0.2,0.65,NaN
200,Suicide bomber 'hits Saudi mosque' http://t.co...,0.7,0.50,NaN
201,if you can't summon the flames directly from h...,0.0,0.50,NaN
202,National Briefing | West: California: Spring O...,0.4,0.20,NaN

In [5]:
data.columns

Index(['string', 'urgency', 'goodbad', 'Unnamed: 4'], dtype='object')

In [39]:
data_1 = data.drop(columns='Unnamed: 4')

In [40]:
data_1

                                                   string  urgency  goodbad
number
1                     *screams in 25 different languages*      0.5     0.20
2       Families to sue over Legionnaires: More than 4...      0.6     0.30
3       Pandemonium In Aba As Woman Delivers Baby With...      0.1     0.20
4       My emotions are a train wreck. My body is a tr...      0.6     0.20
5       Alton brown just did a livestream and he burne...      0.5     0.60
...                                                   ...      ...      ...
198                     @Babybackreeve FATALITY!!!!!!!!!!      0.5     0.50
199     Truck Driver Salvages Banned Tomatoes From Des...      0.2     0.65
200     Suicide bomber 'hits Saudi mosque' http://t.co...      0.7     0.50
201     if you can't summon the flames directly from h...      0.0     0.50
202     National Briefing | West: California: Spring O...      0.4     0.20

[202 rows x 3 columns]

In [ ]:
'[^A-Za-z]'

In [28]:
data.string.values[0]

'*screams in 25 different languages*'

In [30]:
a = re.sub('@\S+|[^A-Za-z]+', ' ', data.string.values[0])

In [31]:
a.split()

['screams', 'in', 'different', 'languages']

In [33]:
for token in a.split():
    if token not in stopwords.words('english'):
        print(token)

screams
different
languages

In [100]:
data.string.values[1]

"Families to sue over Legionnaires: More than 40 families affected by the fatal outbreak of Legionnaires' disea... http://t.co/ZA4AXFJSVB"

In [120]:
re.sub('@\S+|http:\S+|http:+|[^A-Za-z]+', ' ', data.string.values[1])

'Families to sue over Legionnaires More than families affected by the fatal outbreak of Legionnaires disea  '

In [121]:
re.sub('@\S+|http?:\S+|http?:|[^A-Za-z]+', ' ', data.string.values[1])

'Families to sue over Legionnaires More than families affected by the fatal outbreak of Legionnaires disea  '

In [116]:
st = ' what is wrong with you? \t\t http://gogole.com [s], sdkjn so what are we gogin to do?\n http://amazon.com'

In [124]:
re.sub('@\S+|https:\S+|http:+|[^A-Za-z]+', ' ', st)

' what is wrong with you   gogole com s sdkjn so what are we gogin to do   amazon com'

In [34]:
re.sub('@\S+|https:\S+|http:\S+|[^A-Za-z]+', ' ', data.string.values[0])

' screams in different languages '

In [16]:
data_1.string.values[1]

"Families to sue over Legionnaires: More than 40 families affected by the fatal outbreak of Legionnaires' disea... http://t.co/ZA4AXFJSVB"

In [44]:
stemmer = PorterStemmer()

In [41]:
def preprocess(text):
    tweet = re.sub('@\S+|https:\S+|http:\S+|[^A-Za-z]+', ' ', str(text).lower())
    tweet = tweet.split()
    tokens = []
    for token in tweet:
        if token not in stopwords.words('english'):
            tokens.append(token)
#             tokens.append(stemmer.stem(token))
            
    return " ".join(tokens)

In [42]:
data_1.string = data_1.string.apply(lambda x: preprocess(x))

In [43]:
data_1

                                                   string  urgency  goodbad
number
1                             screams different languages      0.5     0.20
2       families sue legionnaires families affected fa...      0.6     0.30
3       pandemonium aba woman delivers baby without fa...      0.1     0.20
4             emotions train wreck body train wreck wreck      0.6     0.20
5       alton brown livestream burned butter touched h...      0.5     0.60
...                                                   ...      ...      ...
198                                              fatality      0.5     0.50
199     truck driver salvages banned tomatoes destruct...      0.2     0.65
200                      suicide bomber hits saudi mosque      0.7     0.50
201     summon flames directly hell store bought fine ...      0.0     0.50
202     national briefing west california spring oil s...      0.4     0.20

[202 rows x 3 columns]

In [12]:
data_1.string.values[3]

'emot train wreck bodi train wreck wreck'

In [47]:
data_1.to_csv('data_tokenized_no_stemming.csv')

In [46]:
stemmer.stem('language')

'languag'